nav {
    background-color: #A44200;
    width: 700px;
    border-radius: 20px;
    margin: auto;
}

nav a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

nav .about {
    float: right;
    background-color: #ac5216;
    border-radius: 0 20px 20px 0;
}

nav a:hover {
    text-decoration: underline;
    color: navy;
}

.join .sign {
    background-color: #ac5216;
    display: inline-block;
    padding: 15px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    position: absolute;
    right: 230px;
    top: 15px;
    font-weight: bold;


}
.join .log {
    background-color: #ac5216;
    display: inline-block;
    padding: 15px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    position: absolute;
    right: 150px;
    top: 15px;
    font-weight: bold;
    
}

